{% extends "base.html" %}  
{ {% block head %}
<title>Contact</title>
{% endblock head %}}
{% block body %}
<nav class="navbar navbar-light text-white" style="background-color:teal;"> 
    <h6>Contact {{ user.userprofile.shop_name }}</h6>
</nav>
<br/>
<div class="container">
    
<div class="col-xs-12 col-md-8">

<div class="col-sm-6-sm-offset-3">
<form role="form" action="" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-info">Submit</button>
    </form>
</div>
</div>
<div class="col-xs-12 col-md-4"></div>
</div>
{% endblock body %}