{% extends "base.html" %}      
{% block body %}

<nav class="navbar navbar-expand text-white shadow navbar " style="background-color:teal;"><h4> password reset complete!!</h4></nav>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
         
<br/>
<div class="alert alert-info" role="alert">
<h6>
    We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

    If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.
</h6>
 
</div>
<a href="{% 'login:accounts'%}" class="btn btn-success" role="button">login again</a>

</div>
</div>
{% endblock body %}
